@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.polish-gradient {
    background: linear-gradient(135deg, #29344D 0%, #C5A573 100%);
}
.glass-panel {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

body {
  min-height: max(884px, 100dvh);
}
